:root {
    /* Primary colors */
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);

    /* Neutral colors */
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224,23%,55%);
    --dark-blue: hsl(223, 47%, 23%);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

main {
    height: 100vh;
    background-image: url(../images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    background-color: var(--pale-blue);

    font-family: 'Red Hat Display', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    background-color: white;
    max-width: 450px;
    width: 100%;
    border-radius: 20px;
    margin-left: 25px;
    margin-right: 25px;
    box-shadow: 0 20px 35px hsla(223, 44%, 61%, 0.301);

    text-align: center;
}

.img-container img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.content {
    padding: 20px 40px 50px 40px;
}

h1 {
    margin-top: 0;
}

p {
    margin-bottom: 25px;

    color: var(--desaturated-blue);
    font-size: 16px;
    line-height: 25px;
}

.music-plan-box {
    background-color: var(--very-pale-blue);
    border-radius: 10px;
    padding: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-and-text {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
}

span {
    display: block;
}

.music-plan-box a {
    color: var(--bright-blue);
    font-weight: 700;
}


span:first-child {
    font-weight: 900;
}

span.price {
    color: var(--desaturated-blue);
}

a {
    display: block;
}

a.proceed {
    background-color: var(--bright-blue);
    border-radius: 10px;
    padding: 15px;
    margin: 25px 0 25px 0;
    box-shadow: 0 15px 15px hsla(223, 40%, 53%, 0.355);

    color: white;
    font-weight: 700;
    text-decoration: none;
}

a.cancel {
    width: fit-content;
    margin: auto;
    padding: 5px 10px;

    color: var(--desaturated-blue);
    font-weight: 900;
    text-decoration: none;
}

/* Active states */

.music-plan-box a:hover {
    color: rgb(133,126,228);
    text-decoration: none;
}

a.proceed:hover {
    background-color: rgb(118,108,241);
}

a.cancel:hover {
    color: var(--dark-blue);
}
