body {
    /* Colors */
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);

    /* Properties */
    background-color: var(--light-gray);
    margin: 0;

    font-family: 'Outfit', sans-serif;
    font-size: 16px;
}

main {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

section#container {
    background-color: var(--white);
    width: 330px;
    padding: 20px;
    border-radius: 11px;
    box-shadow: 0 1px 10px rgba(128, 128, 128, 0.473);
    
    text-align: center;
}

img {
    width: 100%;
    border-radius: 12px;
}

.text-container {
    padding: 0 25px;
}

h1 {
    color: var(--dark-blue);
    font-weight: 700;
}

p {
    color: var(--grayish-blue);
    font-weight: 400;
}
