:root {
    /* primary colors*/
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);

    /* neutral colors */
    --main-bg: hsl(217, 54%, 11%);
    --card-bg: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: 100vh;
    background-color: var(--main-bg);

    font-family: 'Outfit', sans-serif;
    font-size: 18px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.container {
    border-radius: 15px;
    padding: 20px;
    max-width: 350px;
    background-color: var(--card-bg);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.301);
}

a .img-wrapper:hover {
    border-radius: 15px;
    background-image: url(../images/icon-view.svg);
    background-repeat: no-repeat;
    background-color: var(--cyan);
    background-position: center;
}

a img {
    width: 100%;
    border-radius: 15px;
}

a img:hover {
    opacity: 50%;
}


/* img[alt="Glass Cube"]:active {
    background-image: url(images/image-equilibrium.jpg);
    background-position: center;
    background-size: cover;
    content: url(images/icon-view.svg);
} */

h1 {
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 15px;
}

a {
    color: var(--white);
    text-decoration: none;
}

h1 a:hover {
    color: var(--cyan);
}

p {
    margin-top: 15px;
    margin-bottom: 15px;

    color: var(--soft-blue);
}

.p2-p3-wrapper {
    display: flex;
    justify-content: space-between;
}

.p2-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

p#p2 {
    color: var(--cyan);
}

.p3-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.card-footer {
    border-top: var(--line) solid 1px;
    margin-top: 10px;
    padding: 20px 0 10px 0;

    display: flex;
    align-items: center;
    gap: 15px;
}

.card-footer img {
    border: var(--white) solid 1px;
    border-radius: 50%;
    width: 30px;
}

span {
    color: var(--soft-blue);
    font-size: 16px;
}

span a:hover {
    color: var(--cyan);
}
